#social-nav {
  float: right
}

#social-nav li {
  display: inline-block;
  padding: 0px;
  font-size: 2em;
}

#Delicious {
  font-style: yellowtail;
}

#faint-font {
  color: grey;
}

#header-font {
  display: inline-block;
}

#header-image {
  height: 100px;
  width: 100px;
  display: inline-block;
}

header {
  border-bottom: thick solid black;
}

.logos {
  padding: 0;
  display: inline-block;
}

.list {
  display: inline-block;
}

#list {
  background-image: url("img/list-bg.png");
}

#list ul {
  display: inline-block;
  padding 0px;

}
